In [1]:
import duckdb

In [3]:
conn = duckdb.connect()

In [ ]:
conn.sql("""
CREATE TABLE IF NOT EXISTS primary (
    reference_time DATETIME,
    value_time DATETIME,
    configuration VARCHAR,
    measurement_unit VARCHAR,
    variable_name VARCHAR,
    value FLOAT,
    location_id VARCHAR,
    FOREIGN KEY (measurement_unit) REFERENCES units (name)
);
""")

In [ ]:
conn.sql("""
CREATE TABLE IF NOT EXISTS secondary (
    reference_time DATETIME,
    value_time DATETIME,
    configuration VARCHAR,
    measurement_unit VARCHAR,
    variable_name VARCHAR,
    value FLOAT,
    location_id VARCHAR,
    FOREIGN KEY (measurement_unit) REFERENCES units (name)
);
""")

In [5]:
conn.sql("""
DROP TABLE attributes;
CREATE TABLE attributes (
         name VARCHAR PRIMARY KEY,
         description varchar
);
""")

In [10]:
conn.sql("""
DROP TABLE units;
CREATE TABLE units (
         name VARCHAR PRIMARY KEY,
         description varchar
);
INSERT INTO units VALUES ('cms', 'Cubic Meters Per Second');
INSERT INTO units VALUES ('cfs', 'Cubic Feet Per Second');
""")

In [12]:
conn.sql("""
CREATE TABLE IF NOT EXISTS joined_timeseries(
    reference_time DATETIME,
    value_time DATETIME,
    configuration VARCHAR,
    measurement_unit VARCHAR,
    variable_name VARCHAR,
    value FLOAT,
    location_id VARCHAR,
    FOREIGN KEY (measurement_unit) REFERENCES units (name)
);
""")

In [15]:
conn.sql("""
INSERT INTO joined_timeseries VALUES ('2024-01-01 12:00:00', '2024-01-01 12:00:00', 'config', 'cms', 'var', 0.12, '12345');
""")

In [16]:
conn.sql("""
SELECT * FROM  joined_timeseries;
""")

┌─────────────────────┬─────────────────────┬───────────────┬──────────────────┬───────────────┬───────┬─────────────┐
│   reference_time    │     value_time      │ configuration │ measurement_unit │ variable_name │ value │ location_id │
│      timestamp      │      timestamp      │    varchar    │     varchar      │    varchar    │ float │   varchar   │
├─────────────────────┼─────────────────────┼───────────────┼──────────────────┼───────────────┼───────┼─────────────┤
│ 2024-01-01 12:00:00 │ 2024-01-01 12:00:00 │ config        │ cms              │ var           │  0.12 │ 12345       │
└─────────────────────┴─────────────────────┴───────────────┴──────────────────┴───────────────┴───────┴─────────────┘